@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body {
    font-feature-settings: "liga" 1, "kern" 1;
    overflow-x: hidden;
  }

  ::selection {
    background-color: #c9a24b;
    color: #0b0b0c;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
